
* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
p {
    font-size: 20px;
}

h1{
    background-color: cornsilk;
    padding: 15px;
}


.container {
    background-color: rgb(231, 223, 148);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    
}

.list-of-recipes {
    display:flex;
    padding: 20px;
    background-color: cornsilk;
    list-style-type:none ;
    justify-content: center;
    
}

.list-of-recipes li{
    margin-right: 20px;
    font-size: 20px;
    
}





.list {
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

.images {
    width: 400px;
    height: 400px;
}