html {
    box-sizing: border-box;
}
* {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 2px solid red;
    padding: 5px;
    border: 3px solid black;
    margin: 10px;
}
p {
    font-size: 20px;
}

div {
    background-color: rgb(231, 223, 148);
    text-align: center;
    
}

.list a {
    display: inline-block;
    padding: 20px;
    background-color: cornsilk;
}


.list {
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

.images {
    width: 400px;
    height: 400px;
}